* {
    font-family: 'Darker Grotesque', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    z-index: 0;
    background-image: url('https://img.freepik.com/free-photo/abstract-empty-smooth-light-pink-studio-room-background-use-as-montage-product-display-banner-template_1258-63853.jpg?w=740&t=st=1671936400~exp=1671937000~hmac=ede750cb7a65609c934832013e1b43fa40c616f37ed16db69691836ec0020988');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(2px);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.btn {
    position: relative;
    width: auto;
    height: 45px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

.primary {
    border: 1px solid #fdd8d9;
    background-color: #ff00ea;
}

.primary:hover {
    border: 1px solid #fdd8d9;
    background-color: #ff00ea;
}

.danger {
    border: 1px solid #a13d3d;
    background-color: #ff6a6a;
}

.danger:hover {
    border: 1px solid #742828;
    background-color: #a13d3d;
}

.success {
    border: 1px solid #538b32;
    background-color: #7bcf4a;
}

.success:hover {
    border: 1px solid #3b6423;
    background-color: #538b32;
}

.warning {
    border: 1px solid #b9923c;
    background-color: #ffc955;
}

.warning:hover {
    border: 1px solid #967632;
    background-color: #b9923c;
}

.link {
    border: 1px solid #5d4883;
    background-color: #866ab9;
}

.link:hover {
    border: 1px solid #3c2f55;
    background-color: #5d4883;
}

.navy {
    border: 1px solid #fdd8d9;
    background-color: #f313bd;
}

.navy:hover {
    border: 1px solid #cc25d3;
    background-color: #cc25d3;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-first,
.box-second,
.box-third,
.box-fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
    width: 100%;
    max-width: 700px;
    border-radius: 8px;
    background-color: #000000b7;
}

.box-first .box-content,
.box-second .box-content,
.box-third .box-content,
.box-fourth .box-content {
    margin: 10px;
}

.box-first .first,
.box-first .second,
.box-first .third,
.box-first .fourth,
.box-second .first,
.box-second .second,
.box-second .third,
.box-third .first,
.box-third .second,
.box-fourth .first,
.box-fourth .second,
.box-fourth .third {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-first .first img {
    display: flex;
    border-radius: 5px;
    width: 40%;
    height: 40%;
}

.box-first .second h1,
.box-second .first h1,
.box-third .first h1,
.box-fourth .first small h1 {
    text-align: center;
    display: flex;
}

.box-first .third h2,
.box-second .second h2,
.box-fourth .second small h2 {
    display: flex;
    text-align: center;
    word-wrap: break-word;
}

.box-first .fourth button,
.box-fourth .third button {
    width: 150px;
}

.box-second .third,
.box-third .third {
    display: flex;
    flex-wrap: wrap;
}

.box-second .third .content-first,
.box-second .third .content-second,
.box-third .third .content-first,
.box-third .third .content-second {
    margin: 10px;
}

.box-second .third .content-first button {
    z-index: 1;
}

.box-second .third .content-second button {
    z-index: 0;
}

.box-third .second input {
    width: 100%;
    height: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.box-third .second input:focus {
    outline: none;
}